/*
    /////////////////////////
    // HTML5 Game Template //
    /////////////////////////

*/

body {
	background: #000000;
}

#game {
	margin: 0 auto;
	display: block;
}

#button {
	margin: 0 auto;
	display: block;
}

#firstCoord {
	margin: 0 auto;
	display: block;
}

#secondCood {
	margin: 0 auto;
	display: block;
}